### The given dataset contains price of second-hand Hyundai grand i10 car with respect to year of making.      Findthe best linear relationship between year and price. Can you predict the possible price of a 2022 model second-hand grand i10? Please learn about lasso regression and create a model along with linear regression.  Find out which one is performing better

In [1]:
### importing library

import pandas as pd

In [2]:
car = pd.read_csv(r'C:\Users\susmi\DSA\car_age_price.csv')

In [3]:
car.head(3)

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000

In [4]:
car.columns

Index(['Year', 'Price'], dtype='object')

In [5]:
### separating feature and target variable

X = car[['Year']]   ###feature variable
y = car[['Price']]  ###target variable

In [6]:
X

     Year
0    2018
1    2019
2    2019
3    2018
4    2018
..    ...
107  2016
108  2014
109  2015
110  2016
111  2015

[112 rows x 1 columns]

In [7]:
y

      Price
0    465000
1    755000
2    700000
3    465000
4    465000
..      ...
107  375000
108  300000
109  425000
110  420000
111  425000

[112 rows x 1 columns]

In [8]:
### splitting dataset into training and test data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

C:\Users\susmi\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
X_train

     Year
66   2017
90   2017
62   2017
22   2015
85   2015
..    ...
106  2015
14   2017
92   2017
51   2018
102  2015

[89 rows x 1 columns]

In [10]:
y_train

      Price
66   525000
90   520000
62   540000
22   434999
85   320000
..      ...
106  300000
14   475000
92   520000
51   550000
102  350000

[89 rows x 1 columns]

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
### create and train linear regression model

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

LinearRegression()

In [13]:
from sklearn.linear_model import Lasso

In [14]:
### create and train lasso regression model

lasso_model = Lasso(alpha=1.0)
lasso_model.fit(X_train, y_train)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

Lasso()

In [15]:
### predicting

linear_predictions = linear_model.predict(X_test)
lasso_predictions = lasso_model.predict(X_test)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
### evaluating model performance

linear = mean_squared_error(y_test, linear_predictions, squared=False)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [18]:
lasso = mean_squared_error(y_test, lasso_predictions, squared=False)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [19]:
print('Linear Regression', linear)

Linear Regression 65779.22359552195

In [20]:
print('Lasso Regression', lasso)

Lasso Regression 65778.8702473345

In [21]:
### predicting the price of 2022 model

year_2022 = [[2022]]

In [22]:
linear_price_2022 = linear_model.predict(year_2022)
lasso_price_2022 = lasso_model.predict(year_2022)

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\susmi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [23]:
print('Predicted price for 2022 model using Linear', linear_price_2022)

Predicted price for 2022 model using Linear [[743601.61594504]]

In [24]:
print('Predicted price for 2022 model using Lasso', lasso_price_2022)

Predicted price for 2022 model using Lasso [743599.37427144]

In [25]:
linear_price_2022

array([[743601.61594504]])

In [26]:
lasso_price_2022

array([743599.37427144])

In [27]:
### assuming that the model with less mean squared error than other indicates better performance

if linear < lasso:
    print('Linear Regression performs better')
else:
    print('Lasso Regression performs better')

Lasso Regression performs better