### 1. Read the dataset to python environment.

In [1]:
### importing library

import pandas as pd

In [2]:
data = pd.read_excel(r'C:\Users\susmi\DSA\iris.xls')

In [3]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### 2. Do the necessary pre-processing steps.

In [5]:
### checking missing values

data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [6]:
### drop the missing values by using dropna()

data.dropna(inplace = True)

In [7]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [8]:
### encode the categorical target value

from sklearn.preprocessing import LabelEncoder
label_model = LabelEncoder()

In [9]:
data['Classification'] = label_model.fit_transform(data['Classification'])

In [10]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2               0
1    4.9  3.0  1.4  0.2               0
3    4.6  3.1  1.5  0.2               0
4    5.0  3.6  1.4  0.2               0
5    5.4  3.9  1.7  0.4               0
..   ...  ...  ...  ...             ...
144  6.7  3.3  5.7  2.5               2
145  6.7  3.0  5.2  2.3               2
146  6.3  2.5  5.0  1.9               2
148  6.2  3.4  5.4  2.3               2
149  5.9  3.0  5.1  1.8               2

[131 rows x 5 columns]

In [11]:
### separating feature and target variable

X = data.drop('Classification', axis=1)  ### feature variable
y = data['Classification']               ### target variable

In [12]:
X

      SL   SW   PL   PW
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
5    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.3  5.7  2.5
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[131 rows x 4 columns]

In [13]:
y

0      0
1      0
3      0
4      0
5      0
      ..
144    2
145    2
146    2
148    2
149    2
Name: Classification, Length: 131, dtype: int32

In [14]:
### splitting dataset into training and test data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [15]:
X_train

      SL   SW   PL   PW
90   5.5  2.6  4.4  1.2
57   4.9  2.4  3.3  1.0
0    5.1  3.5  1.4  0.2
14   5.8  4.0  1.2  0.2
50   7.0  3.2  4.7  1.4
..   ...  ...  ...  ...
82   5.8  2.7  3.9  1.2
122  7.7  2.8  6.7  2.0
16   5.4  3.9  1.3  0.4
107  7.3  2.9  6.3  1.8
118  7.7  2.6  6.9  2.3

[104 rows x 4 columns]

In [16]:
y_train

90     1
57     1
0      0
14     0
50     1
      ..
82     1
122    2
16     0
107    2
118    2
Name: Classification, Length: 104, dtype: int32

### 3. Find out which classification model gives the best result (try all the classification algorithms discussed in the session)

In [17]:
### importing required libraries

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [18]:
best_accuracy = 0

In [19]:
models = {
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression()
}

In [20]:
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy of {model_name}: {accuracy}")
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model_name

Accuracy of Random Forest: 1.0
Accuracy of Support Vector Machine: 1.0
Accuracy of K-Nearest Neighbors: 1.0
Accuracy of Logistic Regression: 1.0

C:\Users\susmi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
best_accuracy

1.0

### Mention which model gives the best result in your file and justify your answer

In [ ]:
1. Actually, it is challenging to determine which model is truly the best.
2. Here all the models have the same and perfect accuracy which is 1.0. 
3. Therefore, I conclude that all classification models give the best result.