### 1. Load the dataset into python environment.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\susmi\DSA\titanic_dataset.csv')

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### 2. Do all the necessary pre-processing steps.

In [4]:
### dropping unrequired columns

data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [5]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
### handling missing values

data['Age'].fillna(data['Age'].median(), inplace=True)

In [7]:
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [8]:
data.dropna(subset=['Fare'], inplace=True)

In [9]:
### converting categorical to numerical

data['Sex'] = data['Sex'].map({'male' : 0, 'female' : 1})

In [10]:
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

In [11]:
### separating feature and target variable

X = data.drop('Survived', axis=1) ### feature variable
y = data['Survived']              ### target variable

In [12]:
X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0         3    0  22.0      1      0   7.2500       False        True
1         1    1  38.0      1      0  71.2833       False       False
2         3    1  26.0      0      0   7.9250       False        True
3         1    1  35.0      1      0  53.1000       False        True
4         3    0  35.0      0      0   8.0500       False        True
..      ...  ...   ...    ...    ...      ...         ...         ...
886       2    0  27.0      0      0  13.0000       False        True
887       1    1  19.0      0      0  30.0000       False        True
888       3    1  28.0      1      2  23.4500       False        True
889       1    0  26.0      0      0  30.0000       False       False
890       3    0  32.0      0      0   7.7500        True       False

[891 rows x 8 columns]

In [13]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
### scaling

from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()

In [16]:
X = scaler.fit_transform(X)

In [17]:
X

array([[ 0.82737724, -0.73769513, -0.56573646, ..., -0.50244517,
        -0.30756234,  0.61583843],
       [-1.56610693,  1.35557354,  0.66386103, ...,  0.78684529,
        -0.30756234, -1.62380254],
       [ 0.82737724,  1.35557354, -0.25833709, ..., -0.48885426,
        -0.30756234,  0.61583843],
       ...,
       [ 0.82737724,  1.35557354, -0.1046374 , ..., -0.17626324,
        -0.30756234,  0.61583843],
       [-1.56610693, -0.73769513, -0.25833709, ..., -0.04438104,
        -0.30756234, -1.62380254],
       [ 0.82737724, -0.73769513,  0.20276197, ..., -0.49237783,
         3.25137334, -1.62380254]])

### 3. Create KNN and SVM models.

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [19]:
knn_model = KNeighborsClassifier()
svm_model = SVC()

In [20]:
knn_model

KNeighborsClassifier()

### 4. Do k-fold and stratified stratified k-fold cross validation techniques and find the average accuracy score of the models.

In [21]:
### k-fold cross-validation for KNN

from sklearn.model_selection import cross_val_score

In [22]:
knn_scores = cross_val_score(knn_model, X, y, cv = 5)

In [23]:
knn_accuracy_avg = knn_scores.mean()

In [24]:
knn_scores

array([0.79888268, 0.78089888, 0.83707865, 0.82022472, 0.82022472])

In [25]:
knn_accuracy_avg

0.811461929571276

In [26]:
### stratified k-fold cross-validation for SVM

from sklearn.model_selection import StratifiedKFold

In [27]:
svm_scores = cross_val_score(svm_model, X, y, cv = 5)

In [28]:
svm_accuracy_avg = svm_scores.mean()

In [29]:
svm_accuracy_avg

0.827154604230745